/*ANIMACIONES*/

.botonera li:hover{
			background-color: #144B46;
			transition: all 1s;
		}

@media (min-width:  768px){
	@keyframes Imgs{
		0%{ background-image: url(../img/tatuaje.jpg)}
		25%{ background-image: url(../img/tatuaje2.png)}
		50%{ background-image: url(../img/tatuaje3.png)}
		75%{ background-image: url(../img/tatuaje4.jpeg)}
		100%{ background-image: url(../img/tatuaje.jpg);}
	}
}

.imagenes{
	width: 100%;
	background-size: cover;
	display: flex;
	animation-name: Imgs;
	animation-timing-function: ease-in;
	animation-duration: 15s;
	animation-iteration-count:infinite;
	animation-delay: 0s;
	margin-left: 33%;

	background-size: contain;
	background-repeat: no-repeat;
}