@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 62.5%; }

body {
  overflow: hidden; }

.displayFlex, nav ul li {
  display: flex; }

.separador-movil {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 3px;
  background: #0BE229;
  box-shadow: 0 0 3px #0BE229, 0 0 6px #0BE229, 0 0 15px #0BE229;
  display: none; }
  @media (max-width: 767px) and (min-width: 280px) {
    .separador-movil {
      display: block; } }

@media (max-width: 767px) and (min-width: 280px) {
  .logo {
    width: 100%; } }

nav {
  background: linear-gradient(to bottom, #25BB9D 80%, #A6E6C4); }
  nav ul li {
    font-size: 3rem;
    background: #80D5A8;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    justify-content: center; }
    nav ul li a {
      text-decoration: none;
      color: white; }
      nav ul li a:hover {
        color: white; }

.navbar-collapse {
  flex-grow: 0 !important; }

.navbar-toggler {
  width: 40px;
  height: 40px; }

.navbar-toggler-icon {
  width: 20px !important;
  height: 20px !important; }

@media (max-width: 767px) and (min-width: 280px) {
  .navbar-brand {
    width: 60% !important; } }

footer {
  background: #58A0B6; }

.redes {
  display: flex;
  justify-content: space-between;
  font-size: 3rem; }
  @media (max-width: 767px) and (min-width: 280px) {
    .redes {
      flex-direction: column;
      font-size: 1.5rem; } }
  .redes a {
    color: white;
    text-decoration: none; }

.facebookImg {
  width: 20%; }
  @media (max-width: 767px) and (min-width: 280px) {
    .facebookImg {
      transform: translateX(-10px); } }

.instagramImg {
  width: 15%; }
  @media (max-width: 767px) and (min-width: 280px) {
    .instagramImg {
      width: 15%; } }

.twitterImg {
  width: 25%; }
  @media (max-width: 767px) and (min-width: 280px) {
    .twitterImg {
      width: 13%; } }

.formulario-turnos {
  background: linear-gradient(to bottom, #A6E6C4 10%, #58A0B6);
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .formulario-turnos form {
    border-radius: 30px;
    box-shadow: 0 0 20px #59F2C5, 0 0 40px #59F2C5, 0 0 60px #59F2C5;
    width: 50%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    background: #59F2C5; }
    @media (max-width: 767px) and (min-width: 280px) {
      .formulario-turnos form {
        width: 100%; } }
  .formulario-turnos div {
    font-size: 4rem;
    margin-right: auto;
    margin-left: auto; }

.cont-index-info-maps {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 1;
  grid-template-areas: "info-index maps-index";
  background: linear-gradient(to bottom, #A6E6C4 10%, #58A0B6); }
  @media (max-width: 767px) and (min-width: 280px) {
    .cont-index-info-maps {
      display: block; } }

.info-index {
  display: flex;
  align-items: center; }

.informacion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 3rem;
  text-align: justify; }
  @media (max-width: 767px) and (min-width: 280px) {
    .informacion {
      font-size: 2rem; } }
  @media (max-width: 1024px) and (min-width: 768px) {
    .informacion {
      font-size: 2rem; } }

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }
  .maps p {
    margin-top: 20px;
    font-size: 2rem; }

.carousel-index {
  width: 50%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) and (min-width: 280px) {
    .carousel-index {
      width: 100vw; } }

.imagen {
  height: 70vh;
  width: 100%; }
  @media (max-width: 767px) and (min-width: 280px) {
    .imagen .imagen {
      width: 100vw; } }

.imagenes-index {
  background: #A6E6C4; }

.contTabla {
  background: linear-gradient(to bottom, #A6E6C4 10%, #58A0B6);
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contTabla p {
    color: black;
    margin-bottom: 20px;
    font-size: 3rem; }

.tabla {
  text-align: center;
  font-size: 10rem;
  width: 50%; }

table tr {
  color: black;
  box-sizing: border-box;
  outline-style: solid;
  outline-color: black;
  font-weight: 500;
  background: white; }
  table tr td {
    box-sizing: border-box;
    outline-color: black;
    outline-style: solid; }

.contMainEstilos {
  display: block; }
  .contMainEstilos h2 {
    font-size: 3rem;
    color: black;
    text-decoration: underline; }

.realista {
  background: #A6E6C4;
  grid-area: realista; }
  @media (max-width: 767px) and (min-width: 280px) {
    .realista {
      display: flex;
      align-items: center;
      flex-direction: column; } }

#realista1 {
  width: 50%; }

#realista2 {
  width: 50%; }

#realista3 {
  width: 50%; }

.acuarela {
  grid-area: acuarela;
  background: #A6E6C4; }
  @media (max-width: 767px) and (min-width: 280px) {
    .acuarela {
      display: flex;
      align-items: center;
      flex-direction: column; } }

#acuarela1 {
  width: 50%; }

#acuarela2 {
  width: 50%; }

#acuarela3 {
  width: 50%; }

.tribal {
  background: #A6E6C4;
  grid-area: tribal; }
  @media (max-width: 767px) and (min-width: 280px) {
    .tribal {
      background: #A6E6C4;
      display: flex;
      align-items: center;
      flex-direction: column; } }

#tribal1 {
  width: 50%; }

#tribal2 {
  width: 50%; }

#tribal3 {
  width: 50%; }

.puntillismo {
  background: linear-gradient(to bottom, #A6E6C4 10%, #58A0B6);
  grid-area: puntillismo; }
  @media (max-width: 767px) and (min-width: 280px) {
    .puntillismo {
      display: flex;
      align-items: center;
      flex-direction: column; } }

#puntillismo1 {
  width: 50%; }

#puntillismo2 {
  width: 50%; }

#puntillismo3 {
  width: 50%; }

.contenedorMainContacto {
  background: linear-gradient(to bottom, #A6E6C4 10%, #58A0B6);
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 30vh 55vh;
  grid-template-areas: "titulo-contacto maps-contacto" "info-contacto maps-contacto"; }

.titulo-contacto {
  grid-area: titulo-contacto;
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  color: black; }
  @media (max-width: 767px) and (min-width: 280px) {
    .titulo-contacto {
      font-size: 2.5rem; } }

.maps-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: maps-contacto; }
  .maps-contacto p {
    font-size: 3rem;
    color: black; }
    @media (max-width: 767px) and (min-width: 280px) {
      .maps-contacto p {
        font-size: 2rem; } }

.info-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: info-contacto;
  font-size: 3rem; }
  .info-contacto p {
    margin-left: 30px;
    font-size: 2rem;
    color: white; }
    @media (max-width: 767px) and (min-width: 280px) {
      .info-contacto p {
        font-size: 1rem;
        margin-left: 0; } }

.whatsapp {
  background: #2F9D12;
  display: flex;
  border-radius: 30px;
  width: 57%;
  align-items: center;
  justify-content: center; }
  .whatsapp img {
    margin-left: 10px; }
  @media (max-width: 1024px) and (min-width: 768px) {
    .whatsapp {
      width: 95%; } }
  @media (max-width: 767px) and (min-width: 280px) {
    .whatsapp {
      flex-direction: column;
      width: 90%; } }

.gmail {
  justify-content: center;
  width: 57%;
  border-radius: 30px;
  background: #D83C3C;
  margin-top: 40px;
  display: flex;
  align-items: center; }
  .gmail img {
    margin-left: 10px; }
  @media (max-width: 1024px) and (min-width: 768px) {
    .gmail {
      width: 95%; } }
  @media (max-width: 767px) and (min-width: 280px) {
    .gmail {
      flex-direction: column;
      width: 90%; } }
