.contenedorMainContacto {
  background: $mainColor;
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 30vh 55vh;
  grid-template-areas: "titulo-contacto maps-contacto" "info-contacto maps-contacto"; 
}

.titulo-contacto {
  grid-area: titulo-contacto;
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  color: black; 
  @media (max-width: 767px) and (min-width: 280px){
      font-size: 2.5rem;
    }
}

.maps-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: maps-contacto;
  p{
  font-size: 3rem;
  color: black; 
  @media (max-width: 767px) and (min-width: 280px){
    font-size: 2rem;} 

  }
}



.info-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: info-contacto;
  font-size: 3rem; 
  p{
    margin-left: 30px;
    font-size: 2rem;
    color: white;
    @media (max-width: 767px) and (min-width: 280px){
      font-size: 1rem;
      margin-left: 0;
    }
  }
}

.whatsapp {
  background: #2F9D12;
  display: flex;
  border-radius: $border;
  width: 57%;
  align-items: center;
  justify-content: center; 
  img{
    margin-left: 10px;
  }
  @media (max-width: 1024px) and (min-width: 768px){
    width: 95%;
  }
  @media (max-width: 767px) and (min-width: 280px){
    flex-direction: column;
    width: 90%;
  }
}

.gmail {
  justify-content: center;
  width: 57%;
  border-radius: $border;
  background: #D83C3C;
  margin-top: 40px;
  display: flex;
  align-items: center; 
  img{
    margin-left: 10px;
  }
  @media (max-width: 1024px) and (min-width: 768px){
    width: 95%;
  }
  @media (max-width: 767px) and (min-width: 280px){
    flex-direction: column;
    width: 90%;
  }
}

