//navBar//

nav{
	background: $navColor;
	ul li{
		@extend .displayFlex;
		font-size: 3rem;
		background: #80D5A8;
		@include padding-x(5px,5px);
		padding-bottom:2px;
		justify-content: map-get($map:$jfy,$key:'ctr');
		a{
			text-decoration: none;
			color:white;
			&:hover{
				color:white;
			}
		}

	}	

}

.navbar-collapse{
	flex-grow: 0!important;
}

.navbar-toggler{
	width: 40px;
	height: 40px;
}

.navbar-toggler-icon{
	width: 20px!important;
	height: 20px!important;
}

.imagen{
	width: 100vw;
	height: 70vh;
}